#colcon artifacts
**/build/
**/install/
**/log/

#ROS2 RWM 
eclipse-cyclonedds/
ros2/

#python
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
.venv/

#misc
.vscode-server/
.vscode-server-insiders/
.DB_Store
.devcontainer
